<h1 class='text-center'>Nombre del usuario</h1>
<p class='text-center'>Edita aqui el perfil </p>

<div class='my-2 text-center'>
	<img
		src='/img/perfiles/perfil.jpg'
		alt=''
		class='rounded-circle border-premium'
	/>
</div>

<form
	action='/perfil?_csrf={{csrfToken}}'
	method='post'
	enctype='multipart/form-data'
>
	<input
		type='file'
		class='form-control form-control-sm mt-5'
		id='formFileSm'
		name='myFile'
	/>
	<button class='btn btn-dark mt-2'>Cambiar img de perfil</button>
</form>