<h1 class='text-center'>Registro de usuarios nuevos</h1>
<div class='row justify-content-center'>
	<div class='col-md-6'>
		<form action='/auth/register' method='post'>
			<input type='hidden' name='_csrf' value='{{csrfToken}}' />
			<input
				type='text'
				name='userName'
				class='form-control mb-2'
				placeholder='ingrese el nombre'
				autocomplete='off'
			/>
			<input
				type='text'
				name='email'
				class='form-control mb-2'
				placeholder='ingrese email'
				autocomplete='off'
			/>
			<input
				type='password'
				name='password'
				class='form-control mb-2'
				placeholder='ingrese password'
			/>
			<input
				type='password'
				name='repassword'
				class='form-control mb-2'
				placeholder='ingrese password'
			/>
			<button class='btn btn-primary' type='submit'>Registrarse</button>
		</form>
	</div>
</div>